
<HeadOutlet />

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p class="text-danger">Erişim izniniz yok.</p>
                </NotAuthorized>
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <p class="text-danger">Sayfa bulunamadı.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
